/*Remove as margens e espaçamentos padrão de todos os elementos*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7ede3;
}

.fundo{
    max-height: fit-content;
    max-width: fit-content;
    background-color: #6a9eda;
    border: 1.5px solid black;
    color: #9EDA6A; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    border-radius: 50px;
    text-shadow: 2px 2px 10px black;
}

table{
    padding: 20px;
    margin: auto;
}

td{
    padding: 3px;
}

button{
    width: 40px;
    height: 40px;
    transition: 0.5s ease;
}

button:hover{
    box-shadow: 0.5px 0.5px black;
}

hr{
    height: 1px;
    background-color: white;
}

#resultado{
    width: auto;
    height: 50px;
    background-color: white;
    color: black;
    text-shadow: none;
}

#resultado p{
}